@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gill+Sans+MT:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;
  --font-roboto: Roboto;
  --font-gill-sans-mt: "Gill Sans MT";
  --font-righteous: Righteous;

  /* font sizes */
  --font-size-xs-5: 11.5px;
  --font-size-xs-2: 11.2px;
  --font-size-3xs-5: 9.5px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-lgi-5: 19.5px;
  --font-size-sm-5: 13.5px;
  --font-size-mini-5: 14.5px;
  --font-size-smi-5: 12.5px;
  --font-size-smi: 13px;
  --font-size-2xl: 21px;
  --font-size-mid: 17px;
  --font-size-2xs-5: 10.5px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-xl-5: 20.5px;
  --font-size-base: 16px;
  --font-size-2xl-5: 21.5px;
  --font-size-base-2: 15.2px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-20xl: 39px;
  --font-size-4xl: 23px;
  --font-size-12xl: 31px;
  --font-size-22xl: 41px;
  --font-size-14xl: 33px;
  --font-size-23xl: 42px;
  --font-size-15xl: 34px;
  --font-size-lg: 18px;
  --font-size-mini-2: 14.2px;
  --font-size-3xl: 22px;
  --font-size-sm: 14px;
  --font-size-base-5: 15.5px;
  --font-size-8xl: 27px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-xs: 12px;
  --font-size-4xs: 9px;

  /* Colors */
  --color-white: #fff;
  --blue-gray-50: #fbfbfb;
  --color-gray-100: rgba(250, 250, 250, 1);
  --color-gray-200: #fafafa;
  --color-gray-300: #272727;
  --color-gray-400: #232323;
  --color-gray-500: #1c1c1c;
  --color-gray-600: rgba(255, 255, 255, 0);
  --color-gray-700: rgba(0, 0, 0, 0.05);
  --color-gray-800: rgba(0, 0, 0, 0.5);
  --color-gray-900: rgba(0, 0, 0, 0.1);
  --color-gray-1000: rgba(0, 0, 0, 0);
  --color-darkgray-100: #b3b3b3;
  --color-darkgray-200: #aea8a8;
  --color-darkgray-300: #aaa5a6;
  --color-darkgray-400: #ac9ea3;
  --color-darkgray-500: #a9a0a3;
  --color-darkgray-600: #a7989e;
  --color-dimgray-100: #6f6f6f;
  --color-dimgray-200: #656565;
  --color-dimgray-300: #63645f;
  --color-dimgray-400: #605250;
  --color-darkslategray-100: #393939;
  --color-darkslategray-200: #333;
  --color-darkslategray-300: #2e2e2e;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: rgba(217, 217, 217, 0.5);
  --color-slateblue-100: #665ac9;
  --color-slateblue-200: #5d50c6;
  --color-silver-100: #b5b5b5;
  --blue-gray-200: #c6cdd5;
  --color-tomato-100: #f1453d;
  --color-deepskyblue-100: #2dacf1;
  --color-deepskyblue-200: #2aadf0;
  --color-deepskyblue-300: #1eaaf1;
  --color-yellowgreen: #8cc152;
  --color-orange-100: #fda638;
  --color-orange-200: #fda537;
  --color-chocolate-100: #ef6f2a;
  --color-chocolate-200: #c97305;
  --color-goldenrod-100: #fdb34d;
  --color-goldenrod-200: #fdab43;
  --color-sandybrown-100: #fcb16e;
  --color-whitesmoke-100: #f2f2f0;
  --color-black: #000;
  --color-darkslateblue: #2c365d;
  --blue-gray-400: #8a9ca7;
  --color-limegreen-100: #4cc750;
  --color-limegreen-200: rgba(76, 199, 80, 0.83);
  --color-mediumaquamarine: #92e3a9;
  --color-mediumseagreen-100: #5eb075;
  --color-mediumseagreen-200: rgba(94, 176, 117, 0.09);
  --red: #eb5757;

  /* Gaps */
  --gap-7xs: 6px;
  --gap-3xl: 22px;
  --gap-7xl: 26px;
  --gap-34xl: 53px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-3xs: 10px;
  --gap-10xs: 3px;
  --gap-xl: 20px;
  --gap-4xl: 23px;
  --gap-16xl: 35px;
  --gap-9xs: 4px;
  --gap-5xs: 8px;
  --gap-9xl: 28px;
  --gap-2xs-5: 10.5px;
  --gap-6xs: 7px;
  --gap-26xl: 45px;
  --gap-lgi: 19px;
  --gap-8xl: 27px;
  --gap-17xl: 36px;
  --gap-11xl: 30px;
  --gap-8xs: 5px;
  --gap-57xl: 76px;
  --gap-19xl: 38px;
  --gap-mid: 17px;
  --gap-mini: 15px;
  --gap-58xl: 77px;
  --gap-sm: 14px;
  --gap-21xl: 40px;
  --gap-35xl: 54px;
  --gap-6xl: 25px;
  --gap-5xl: 24px;
  --gap-10xl: 29px;
  --gap-xs: 12px;
  --gap-4xs: 9px;
  --gap-2xs: 11px;
  --gap-smi: 13px;
  --gap-589xl: 608px;
  --gap-133xl: 152px;
  --gap-285xl: 304px;
  --gap-41xl: 60px;
  --gap-61xl: 80px;
  --gap-52xl-3: 71.3px;
  --gap-lg: 18px;
  --gap-base-5: 15.5px;
  --gap-lgi-7: 19.7px;
  --gap-25xl: 44px;
  --gap-9xs-7: 3.7px;
  --gap-19xl-2: 38.2px;
  --gap-8xs-1: 4.1px;
  --gap-base-4: 15.4px;
  --gap-9xs-2: 3.2px;
  --gap-6xs-9: 6.9px;

  /* Paddings */
  --padding-12xs: 1px;
  --padding-xl: 20px;
  --padding-38xl: 57px;
  --padding-39xl: 58px;
  --padding-49xl: 68px;
  --padding-3xl: 22px;
  --padding-7xs: 6px;
  --padding-9xs: 4px;
  --padding-3xs: 10px;
  --padding-xs: 12px;
  --padding-10xs: 3px;
  --padding-base: 16px;
  --padding-lg: 18px;
  --padding-mid: 17px;
  --padding-41xl: 60px;
  --padding-11xs: 2px;
  --padding-79xl: 98px;
  --padding-6xl: 25px;
  --padding-23xl: 42px;
  --padding-45xl: 64px;
  --padding-lgi: 19px;
  --padding-13xl: 32px;
  --padding-4xl: 23px;
  --padding-36xl: 55px;
  --padding-15xl: 34px;
  --padding-47xl: 66px;
  --padding-7xl: 26px;
  --padding-5xl: 24px;
  --padding-14xl: 33px;
  --padding-8xl: 27px;
  --padding-2xl: 21px;
  --padding-10xl: 29px;
  --padding-8xs: 5px;
  --padding-11xl: 30px;
  --padding-31xl: 50px;
  --padding-37xl: 56px;
  --padding-5xs: 8px;
  --padding-21xl: 40px;
  --padding-2xs: 11px;
  --padding-42xl: 61px;
  --padding-63xl: 82px;
  --padding-20xl: 39px;
  --padding-6xs: 7px;
  --padding-7xs-1: 5.1px;
  --padding-35xl: 54px;
  --padding-157xl: 176px;
  --padding-34xl: 53px;
  --padding-95xl: 114px;
  --padding-60xl: 79px;
  --padding-2xs-7: 10.7px;
  --padding-6xl-1: 25.1px;
  --padding-118xl: 137px;
  --padding-9xl-4: 28.4px;
  --padding-91xl: 110px;
  --padding-mini: 15px;
  --padding-26xl: 45px;
  --padding-50xl: 69px;
  --padding-19xl: 38px;
  --padding-5xs-5: 7.5px;
  --padding-30xl: 49px;
  --padding-53xl-3: 72.3px;
  --padding-202xl: 221px;
  --padding-9xs-7: 3.7px;
  --padding-124xl: 143px;
  --padding-xs-1: 11.1px;
  --padding-1002xl: 1021px;
  --padding-33xl: 52px;
  --padding-131xl: 150px;
  --padding-400xl: 419px;
  --padding-59xl: 78px;
  --padding-899xl: 918px;
  --padding-440xl: 459px;
  --padding-210xl: 229px;
  --padding-55xl: 74px;
  --padding-100xl: 119px;
  --padding-280xl: 299px;
  --padding-130xl: 149px;
  --padding-214xl: 233px;
  --padding-97xl: 116px;
  --padding-10xs-5: 2.5px;
  --padding-11xs-5: 1.5px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-7xl: 26px;
  --br-9xl: 28px;
  --br-4xl: 23px;
  --br-16xl-5: 35.5px;
  --br-16xl: 35px;
  --br-5xl-5: 24.5px;
  --br-81xl: 100px;
  --br-mini-8: 14.8px;
  --br-5xs: 8px;
  --br-7xs: 6px;
  --br-13xl: 32px;
  --br-41xl: 60px;
  --br-11xs: 2px;
  --br-6xl: 25px;
  --br-31xl: 50px;
}